<div class="index-page">
  <h1 class="home-header">You can see memes here :))))))))))))))))</h1>
  <div class="images-row">
    <img src="https://data.whicdn.com/images/342876776/original.jpg" alt="img" width="400" height="400">
  </div>

</div>